[Unit]
Description=cloudflare-dns

[Service]
ExecStart=docker run --rm \
          -v /root/.cache:/root/.cache \
          -v /root/.config:/root/.config \
          -v /root/go:/go \
          -v /root/6du/cloudflare-dns/txt-update:/root/6du/cloudflare-dns/txt-update \
          -w /root/6du/cloudflare-dns/txt-update \
          u6du/cloudflare-dns go run main.go
