[Unit]
Description=Runs mytimer every seconds 

[Timer]
OnCalendar=*-*-* *:00:01
Unit=cloudflare-dns.service
#OnBootSec=1s
#OnUnitActiveSec=1h

[Install]
WantedBy=multi-user.target
