[Unit]
Description=cloudflare-dns

[Service]
ExecStart=docker run --rm -v /root/:/root/ u6du/cloudflare-dns go run /root/6du/cloudflare-dns/txt-update/main.go
